.root {
    -fx-background-color: black;
}

.panel{
    /*-fx-background-color: #ddd4f0;*/
    -fx-background-color: white;
    /*-fx-background-radius: 10;*/
}

.button_connect{
    /*-fx-background-color: #ddd4f0;*/
    -fx-background-color: #ff5025;
    -fx-text-fill: black;
    -fx-font-size: 11pt;
    -fx-font-family: "Arial Black";
    -fx-border-radius: 12;
    -fx-background-radius: 5;
}

.button_registr{
    -fx-background-color: #141414;
    -fx-text-fill: #ddd4f0;
    -fx-font-size: 11pt;
    -fx-font-family: "Arial Black";
}

.panel_login{
    -fx-background-color: #141414;
    -fx-background-radius: 10;
    -fx-font-family: "Arial Black";
}

.input_login{
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #ddd4f0;
    -fx-font-family: "Arial Black";
    -fx-min-height: 28;
    -fx-font-size: 11pt;
}

.image_panel{
    -fx-background-image: url("images/connection.png");
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}